/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

.contact {
  padding: 20px;
}
