<link rel="stylesheet" ng-href="{{css}}">
<md-content class="md-padding">
  <div>
    <h1 class="md-display-2">Lodge</h1>
    <br>
    <p>Registration includes attendance to the conference, 3 nights stay at the Pine Springs Ranch Lodge and 8 delicious plant based meals.
    </p>
    <br>
    <p>
      Each lodge room houses up to 6 people. Each room has two queen beds as well as two twin trundles, which are kept under the beds. Each lodge room has a private full bathroom. Bed linens and bath towel sets are provided. Lodge rooms do not have air conditioning;
      however, fans are available.
    </p>
    <br>
    <p>Unmarried men and women cannot stay in the same lodge room.
    </p>
  </div>
  <br>
  <div>
    <md-radio-group ng-model="register.room">
      <h2 class="md-title">Room</h2>
      <md-radio-button value="Adult - 2 Person Occupancy">Adult - 2 Person Occupancy - $202.00</md-radio-button>
      <md-radio-button value="Adult - 3 Person Occupancy"> Adult - 3 Person Occupancy - $174.00 </md-radio-button>
      <md-radio-button value="Adult - 4 Person Occupancy">Adult - 4 Person Occupancy - $158.00</md-radio-button>
      <md-radio-button value="Child">Child (4-12 yrs. old in addition to the Adults in the room)</md-radio-button>
      <md-radio-button value="Infant">Infant - Toddler (0 - 3 yrs) - Free</md-radio-button>
    </md-radio-group>

  </div>
  <br>
  <div>
    <h2 class="md-title">Roommate</h2>
    <br>
    <p>
      Please type the names of the people you want to share the room with. If your roommate is not registered, we reserve the right to assign you to another roommate.
    </p>
    <md-input-container>
      <input ng-model="register.roommate" type="text" aria-label="text">
    </md-input-container>

  </div>
  <div>
    <br>
    <h2 class="md-title">T-shirt Pre-order</h2>
    <br>
    <p>
      Pre-order your SWYC T-shirt for $12.00 and pick it up on-site during the conference. On site price is $15.00.</p>
    <br>
    <p>
      Select from the options below.
    </p>
    <div layout="row">
      <md-input-container>
        <label>Type</label>
        <md-select ng-model="register.type">
          <md-optgroup label="Type">
            <md-option ng-repeat="tshirts in tshirt" value="{{tshirts}}">{{tshirts}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Size</label>
        <md-select ng-model="register.shirt.sizes">
          <md-optgroup label="Sizes">
            <md-option ng-repeat="sizes in size" value={{sizes}}>{{sizes}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <br>
  <div>
    <h2 class="md-title">Total</h2>
    <p>
      Use ng-if
    </p>
  </div>
  <br>
  <md-radio-group ng-model="register.payment">
    <h2 class="md-title">Payment</h2>
    <md-radio-button value="Credit Card">Credit Card</md-radio-button>
    <md-radio-button value="Paypal">Paypal</md-radio-button>
    <md-radio-button value="Check">Check</md-radio-button>
  </md-radio-group>
</md-content>
