<link rel="stylesheet" ng-href="{{css}}">
<div class="container">


  <div>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>

        <!-- This is where the Lodge Tab starts -->
        <md-tab label="Lodge" ng-click='setRegType("Lodge")'>
          <md-content class="md-padding">
            <div>
              <h1 class="md-display-2">Lodge</h1>
              <br>
              <p>Registration includes attendance to the conference, 3 nights stay at the Pine Springs Ranch Lodge and 8 delicious plant based meals.
              </p>
              <br>
              <p>
                Each lodge room houses up to 6 people. Each room has two queen beds as well as two twin trundles, which are kept under the beds. Each lodge room has a private full bathroom. Bed linens and bath towel sets are provided. Lodge rooms do not have air conditioning;
                however, fans are available.
              </p>
              <br>
              <p>Unmarried men and women cannot stay in the same lodge room.
              </p>
            </div>
            <br>
            <div>

              <h2 class="md-title">Room</h2>
              <!-- <md-radio-group ng-model="register.room" ng-change="total=register.room"> -->
                  <md-radio-group ng-model="register.room" ng-change="getTotal()">
                <md-radio-button ng-repeat="regInfos in regInfo" ng-value="regInfos.value">{{regInfos.room}} - ${{regInfos.basecost}}.00</md-radio-button>

              </md-radio-group>

            </div>
            <br>
            <div>
              <h2 class="md-title">Roommate</h2>
              <br>
              <p>
                Please type the names of the people you want to share the room with. If your roommate is not registered, we reserve the right to assign you to another roommate.
              </p>
              <md-input-container>
                <input ng-model="register.roommate" type="text" aria-label="text">
              </md-input-container>

            </div>
            <div>
              <br>
              <h2 class="md-title">T-shirt Pre-order</h2>
              <br>
              <p>
                Pre-order your SWYC T-shirt for $12.00 and pick it up on-site during the conference. On site price is $15.00.</p>
              <br>
              <p>
                Select from the options below.
              </p>
              <div layout="row">
                <md-input-container>
                  <label>Sizes</label>
                    <md-select ng-model="register.shirttype" ng-change="getTotal()">

                    <md-optgroup label="Scroll down for more sizes">
                      <md-option ng-repeat="tshirts in tshirt">{{tshirts.type}}</md-option>
                    </md-optgroup>
                  </md-select>
                </md-input-container>

              </div>
            </div>
            <br>

            <div ng-model="total">
              <h2 class="md-title">Total</h2>
              <p>
                $ {{total}}.00

              </p>
            </div>
            <br>
            <md-radio-group ng-model="register.payment">
              <h2 class="md-title">Payment</h2>

              <md-radio-button value="Credit Card">Credit Card</md-radio-button>
              <md-radio-button value="Check">Check</md-radio-button>
            </md-radio-group>
          </md-content>
        </md-tab>




        <!-- This is where the Lodge Tab ends -->
        <md-tab label="Cabin" ng-click='setRegType("Cabin")'>
          <md-content class="md-padding">
            <div>
              <h1 class="md-display-2">Cabin</h1>

              <p>Registration includes attendance to the conference, 3 nights stay at the Pine Springs Ranch cabin and 8 delicious plant based meals. </p>
<br>
<p>The cabins are carpeted, heated and is furnished with 4 sets of bunks and one queen bed.</p>
<br>
<p>There are two separate villages for men and women, North and South respectively. Each village has a centralized bathhouse, complete with sinks, toilets, and private showers. </p>
<br>
<p>Married couples cannot stay together in the same cabin</p>

    </div>
            <br>
            <div>

              <h2 class="md-title">Room</h2>
              <!-- <md-radio-group ng-model="register.room" ng-change="total=register.room"> -->
                  <md-radio-group ng-model="register.room" ng-change="getTotal()">
                <md-radio-button ng-repeat="regInfos in regInfoCabin" ng-value="regInfos.value">{{regInfos.room}} - ${{regInfos.basecost}}.00</md-radio-button>

              </md-radio-group>

            </div>
            <br>
            <div>
              <h2 class="md-title">Roommate</h2>
              <br>
              <p>
                Please type the names of the people you want to share the room with. If your roommate is not registered, we reserve the right to assign you to another roommate.
              </p>
              <md-input-container>
                <input ng-model="register.roommate" type="text" aria-label="text">
              </md-input-container>

            </div>
            <div>
              <br>
              <h2 class="md-title">T-shirt Pre-order</h2>
              <br>
              <p>
                Pre-order your SWYC T-shirt for $12.00 and pick it up on-site during the conference. On site price is $15.00.</p>
              <br>
              <p>
                Select from the options below.
              </p>
              <div layout="row">
                <md-input-container>
                  <label>Sizes</label>
                    <md-select ng-model="register.shirttype" ng-change="getTotal()">

                    <md-optgroup label="Scroll down for more sizes">
                      <md-option ng-repeat="tshirts in tshirt">{{tshirts.type}}</md-option>
                    </md-optgroup>
                  </md-select>
                </md-input-container>

              </div>
            </div>
            <br>

            <div ng-model="total">
              <h2 class="md-title">Total</h2>
              <p>
                $ {{total}}.00

              </p>
            </div>
            <br>
            <md-radio-group ng-model="register.payment">
              <h2 class="md-title">Payment</h2>

              <md-radio-button value="Credit Card">Credit Card</md-radio-button>
              <md-radio-button value="Check">Check</md-radio-button>
            </md-radio-group>
          </md-content>
        </md-tab>

        <!-- This is where Cabin Tab ends -->
      </md-tabs>
    </md-content>
      </div>
<!-- stripe diretive -->
<stripe-transact  ng-if="register.payment === 'Credit Card'">
    <md-button id="paymentButton" class="md-raised md-primary" ng-click="postRegCc(register)">Register</md-button>
</stripe-transact>
    <md-button class="md-raised md-primary" ng-if="register.payment === 'Check'" ng-click="postReg(register)">Register</md-button>

  </form>
  <!-- end container -->
</div>
