<link rel="stylesheet" ng-href="{{css}}">
<div class="container">


  <div>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>

        <!-- This is where the Lodge Tab starts -->
        <md-tab label="Info">
          <md-content class="md-padding">
            <div>
              <h1 class="md-title">Theme</h1>
              <p>
                Christ Our Righteousness: Not I, But Christ.
                  </p>
                <br>
                <blockquote>
                  <h3>
                    I am crucified with Christ: nevertheless I live; yet not I, but Christ liveth in me: and the life which I now live in the flesh I live by the faith of the Son of God, who loved me, and gave himself for me. - Galatians 2:20
                  </h3>
                </blockquote>
<h1 class="md-title">Speakers</h1>
<p>Doug Batchelor, Dwayne Lemon, Norman McNulty, Virna Santos, Keala Thompson, Esmie Branner.</p>
<h1 class="md-title"><span class=""></span>Location</h1>
<p>Pine Springs Ranch.</p>
            </div>

</md-tab>
        
<!-- This is where the Register TAB Starts -->
<md-tab label="REGISTER">
<div class="centertxt">


  <br/>
  <h2 class="md-title">SWYC Registration</h2>
  <p>
  Log-In, Create an Account or register as Guest

  <br>
  </p>
</div>
  <div class = "loginwrapper centered">
    <br>
<h5 class="md-title">Log-In</h5>
  <md-content layout-padding class="autoScroll" ng-model="user">
    <md-input-container class="md-icon-float" >
      <!-- Use floating label instead of placeholder -->
      <label>User Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.username" type="text">
    </md-input-container>
    <md-input-container md-no-float>
      <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
      <input ng-model="user.password" type="password" placeholder="Password">
    </md-input-container>
    <md-button class=" raised btn1" ng-click="login(user)">Log In</md-button><md-button class="btn1" ng-click="go('/newuser-reg')">Create Account</md-button><md-button class="btn1" ng-click="go('/user-reg')">Guest</md-button>
  </div>
</md-tab>
