<link rel="stylesheet" ng-href="{{css}}">
<div class="container">


  <div>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>

        <!-- This is where the Lodge Tab starts -->
        <md-tab label="Info">
          <md-content class="md-padding">
            <div>
              <h1 class="md-title">Theme</h1>
              <p>
                Christ Our Righteousness: Not I, But Christ.
                  </p>
                <br>
                <blockquote>
                  <h3>
                    I am crucified with Christ: nevertheless I live; yet not I, but Christ liveth in me: and the life which I now live in the flesh I live by the faith of the Son of God, who loved me, and gave himself for me. - Galatians 2:20
                  </h3>
                </blockquote>
<h1 class="md-title">Speakers</h1>
<p>Doug Batchelor, Dwayne Lemon, Norman McNulty, Virna Santos, Keala Thompson, Esmie Branner.</p>
<h1 class="md-title"><span class=""></span>Location</h1>
<p>Pine Springs Ranch.</p>
            </div>

</md-tab>

        <!-- This is where the Lodge Tab ends -->
        <md-tab label="Deadline">
          <md-content class="md-padding">
            <h1 class="md-display-2">Cabin</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
              felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices
              ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis,
              iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at
              convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus
              sapien sit amet, tempus sapien.</p>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante
              eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
<!-- This is where the Pricing Tab ends -->

<md-tab label="Pricing">
  <md-content class="md-padding">
    <h1 class="md-display-2">Cabin</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
      felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices
      ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis,
      iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at
      convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus
      sapien sit amet, tempus sapien.</p>
    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante
      eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
  </md-content>
</md-tab>
<!-- This is where the Pricing Tab ends -->
<md-tab label="SCHEDULE">
  <md-content class="md-padding">
    <h1 class="md-display-2">Cabin</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
      felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices
      ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis,
      iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at
      convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus
      sapien sit amet, tempus sapien.</p>
    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante
      eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
  </md-content>
</md-tab>
<!-- This is where the Pricing Tab ends -->
<!-- This is where the Pricing Tab ends -->
<md-tab label="REGISTER">
<div class="centertxt">


  <br/>
  <h2 class="md-title">SWYC Registration</h2>
  <p>
  Log-In, Create an Account or register as Guest

  <br>
  </p>
</div>
  <div class = "loginwrapper centered">
    <br>
<h5 class="md-title">Log-In</h5>
  <md-content layout-padding class="autoScroll" ng-model="user">
    <md-input-container class="md-icon-float" >
      <!-- Use floating label instead of placeholder -->
      <label>User Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.username" type="text">
    </md-input-container>
    <md-input-container md-no-float>
      <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
      <input ng-model="user.password" type="password" placeholder="Password">
    </md-input-container>
    <md-button class=" raised btn1" ng-click="login(user)">Log In</md-button><md-button class="btn1" ng-click="go('/newuser-reg')">Create Account</md-button><md-button class="btn1" ng-click="go('/user-reg')">Guest</md-button>
  </div>
  <!-- <md-content class="md-padding">

    <h4 class="md-title">Attendee Info</h4>
   <md-content layout-padding>
     <form name="userForm">
       <div layout layout-sm="column">
         <md-input-container flex>
           <label>First name</label>
           <input ng-model="user.firstname" required name="firstname">
         </md-input-container>
         <md-input-container flex>
           <label>Last Name</label>
           <input ng-model="user.lastname" ng-required="true">
         </md-input-container>
       </div>
       <md-input-container flex>
         <label>Address</label>
         <input ng-model="user.address" ng-required="true">
       </md-input-container>
       <div layout layout-sm="column">
         <md-input-container flex>
           <label>City</label>
           <input ng-model="user.city" ng-required="true">
         </md-input-container>
         <md-input-container flex>
           <label>State</label>
           <input ng-model="user.state" ng-required="true">
         </md-input-container>
         <md-input-container flex>
           <label>Postal Code</label>
           <input ng-model="user.postalCode" ng-required="true">
         </md-input-container>
       </div>
  <div layout layout-sm="column">
       <md-input-container flex>
         <label>Email</label>
         <input ng-model="user.email" type="email" ng-required="true">
       </md-input-container>
       <md-input-container flex>
         <label>Gender</label flex>
         <md-select ng-model="user.gender">
           <md-optgroup label="Gender">
             <md-option ng-repeat="genders in gender" value="{{genders}}" required="true">{{genders}}</md-option>
           </md-optgroup>
         </md-select>
            </md-input-container>
       <md-input-container flex>
         <label>Age</label flex>
         <md-select ng-model="user.age">
           <md-optgroup label="Age">
             <md-option ng-repeat="ages in age" value="{{ages}}" required="true">{{ages}}</md-option>
           </md-optgroup>
         </md-select>
       </md-input-container>
       </div>
     </form>

     <div layout="row">
         <md-button class="md-raised md-primary" ng-click="postUser(user);go('/register')">Continue</md-button>
         </div>

    </md-content>
</md-tab> -->
<!-- This is where the Pricing Tab ends -->
  <!-- end container -->
</div>
