.container {
  width: 960px;
  margin: 0 auto;
}
blockquote {
color: #1A237E;
border:none;
margin-bottom:-30px;
position: relative;
    margin: 0 auto;
    padding-left: 0.4em;
}

blockquote h3 {
    font-size:14px;
}

blockquote h3:before {
    content: "\201C";
    font-weight: bold;
    font-size:20px;
    color:#616161;
    position: absolute;
    top: -0.2em;
    left: -0.5em;
}
blockquote h3:after {
    content: "\201D";
    font-weight: bold;
    font-size:20px;
    color:#616161;
    position: absolute;
    bottom: -0.6em;
    right: 0;
}
