<link rel="stylesheet" ng-href="{{css}}">
<div class="container">
  <h1>Registration Information</h1>
  <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="gray"
        md-rowspan="1" md-colspan="2" md-colspan-sm="1">
        <h1>${{total}}.00</h1>
      <md-grid-tile-header>
        <h3>Registration Income</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow"
        md-rowspan="1" md-colspan="2" md-colspan-sm="1">
        <h1>{{getTotalRegCount}}</h1>
      <md-grid-tile-header>
        <h3>Registered Attendees</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue" ng-repeat="here in checkin">
      <h1>{{here.true}}</h1>
      <md-grid-tile-header>
        <h3>Checked-In</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="red" ng-repeat="here in checkin">
      <h1>{{here.false}}</h1>
      <md-grid-tile-header>
        <h3>Not Checked-In</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="blue" ng-repeat="pay in paid">
      <h1>{{pay.true}}</h1>
      <md-grid-tile-header>
        <h3>Paid</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="red" ng-repeat="pay in paid">
      <h1>{{pay.false}}</h1>
      <md-grid-tile-header>
        <h3>Not Paid</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="blue"
        md-rowspan="1" md-colspan="2" div ng-repeat="reg in lodgeCabin">
       <h1>Lodge: {{reg.Lodge}} |</h1>
        <h1>Cabin:{{reg.Cabin}}</h1>
      <md-grid-tile-header>
        <h3>Registration by Type</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="gray"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1"  ng-repeat="room in rooms">
        <div class="roomtype">
        <br>
        <h1 class="md-title">Cabin</h1>
        <div><p>Adult = {{room['Adult - Full Conference']}}</p></div>
        <div><p>Child = {{room['Child - Full Conference']}}</p></div>
        <h1 class="md-title">Lodge</h1>
        <p>
          Adult - 2 Person Occupancy = {{room['Adult - 2 Person Occpancy']}}
        </p>
        <div>
      <p>
        Adult - 3 Person Occupancy = {{room['Adult - 3 Person Occupancy']}}
      </p>
        </div>
        <div><p>Adult - 4 Person Occupancy = {{room['Adult - 4 Person Occupancy']}}</p></div>

        <div><p>Child = {{room['Child']}}</p></div>
          <div><p>Infant - Todder = {{room['Infant - Toddler']}}</p></div>
        </div>
      <md-grid-tile-header>
        <h3>Registration by Room Type</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="1" md-colspan="1" ng-repeat="shirt in tshirt">
        <div>
          <div>
            <p>
              Youth = {{shirt['Youth - Small']}}
            </p>
          </div>
          <div>
            <p>
             Adult= {{shirt['Adult - Small']}}
            </p>
          </div>
        </div>
      <md-grid-tile-header>
        <h3>T-shirt | Small</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="1" md-colspan="1" ng-repeat="shirt in tshirt">
        <div>
          <div>
            <p>
              Youth = {{shirt['Youth - Medium']}}
            </p>
          </div>
          <div>
            <p>
             Adult = {{shirt['Adult - Medium']}}
            </p>
          </div>
        </div>
      <md-grid-tile-header>
        <h3>T-shirt | Medium</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="1" md-colspan="1" ng-repeat="shirt in tshirt">
        <div>
          <div>
            <p>
              Youth = {{shirt['Youth - Large']}}
            </p>
          </div>
          <div>
            <p>
             Adult = {{shirt['Adult - Large']}}
            </p>
          </div>
        </div>
      <md-grid-tile-header>
        <h3>T-shirt | Large</h3>
      </md-grid-tile-header>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="1" md-colspan="1" ng-repeat="shirt in tshirt">
        <div>
          <div>
            <p>
              Youth = {{shirt['Youth - Extra Large']}}
            </p>
          </div>
          <div>
            <p>
             Adult = {{shirt['Youth - Extra Large']}}
            </p>
          </div>
        </div>
      <md-grid-tile-header>
        <h3>T-shirt | Extra-Large</h3>
      </md-grid-tile-header>
    </md-grid-tile>
  </md-grid-list>
</div>
