<link rel="stylesheet" ng-href="{{css}}">
<div class="tablecontainer">
		<h2 class="md-title">Attendee Check-In</h2>
		<br>
</div>
<div class="tablecontainer" layout="row">
<table st-table="regInfo" st-safe-src="regInfoCollection" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="regtype">Type</th>
		<th st-sort="room">Room</th>
		<th st-sort="attendee.firstname">First Name</th>
		<th st-sort="attendee.lastname">Last Name</th>
		<th st-sort="checkin">Check-In</th>
		<th st-sort="paid">Paid</th>
    <th>Update</th>
	</tr>

  <tr>
     <th>
         <input st-search="regtype" placeholder="search for reg type" class="input-sm form-control" type="search"/>
     </th>
		 <th>
				 <input st-search="room" placeholder="search for room" class="input-sm form-control" type="search"/>
		 </th>
     <th>
         <input st-search="attendee.firstname" placeholder="search for firstname" class="input-sm form-control" type="search"/>
     </th>
     <th>
         <input st-search="attendee.lastname" placeholder="search for lastname" class="input-sm form-control" type="search"/>
     </th>
     <th>
         <input st-search="attendee.checkin" placeholder="true or false" class="input-sm form-control" type="search"/>
     </th>
     <th>
         <input st-search="paid" placeholder="true or false" class="input-sm form-control" type="search"/>
     </th>

 </tr>
	</thead>
	<tbody ng-repeat="getInfo in regInfo">
	<tr>
    <tr ng-repeat = "attendee in getInfo.attendee">
		<td>{{getInfo.regtype}}</td>
			<td>{{getInfo.room}}</td>
		<td>{{attendee.firstname}}</td>
		<td>{{attendee.lastname}}</td>
		<td><button ng-click="checkIn(getInfo)">{{getInfo.checkin}}</button></td>
		<td>{{getInfo.paid}}</td>
    	<td>  <a href="#/admin-checkinview/{{getInfo._id}}">Edit</a></td>
	</tr>
</tr>
	</tbody>
</table>
<!-- </div> -->
